<div id="post-main" class="post-main">
  <div class="post-main-inner">
    <div class="content">
      <div class="content-wrap">
        <div class="posts" *ngFor="let post of posts">
          <div class="posts-date">
            <div class="posts-date-cont">
              <span class="day">{{ post.created_at | date:'d' }}</span>
              <span class="month">
                  <span>{{ post.created_at | date:'MMM' }}</span>
              </span>
              <span class="year">{{ post.created_at | date:'yyyy' }}</span>
            </div>
          </div>
          <div class="posts-head">
            <h1 class="posts-head-title"><a [routerLink]="['/post', post.id]">{{ post.title }}</a></h1>
            <div class="posts-head-meta">
              <span class="posts-head-meta-category">分类于<a [routerLink]="['/category', post.category.id]">{{ post.category.name }}</a></span>
              <span class="posts-head-meta-tag">标签<a *ngFor="let tag of post.tags">{{ tag.name }}</a></span>
              <span class="posts-head-meta-read"><span>{{ post.read_count }}</span>次阅读</span>
            </div>
          </div>
          <div class="posts-body">
            <p class="posts-body-summary">{{ post.summary }}</p>
            <div class="posts-body-more">
              <a [routerLink]="['/home/post', post.id]" class="btn-a">阅读全文&gt;&gt;</a>
            </div>
          </div>
        </div>

        <app-page [pageConfig]="pageConfig" (changePage)="getPageData($event)"></app-page>
      </div>
    </div>
  </div>
</div>
