<div id="archives" class="archives">
  <div class="archives-inner">
    <p class="archives-total">当前共计{{ pageConfig.totalNum }}篇日志</p>
    <div class="archives-content">
      <div class="archives-wrap">
        <div class="archives-detail" *ngFor="let item of postsList">
          <h2 class="archives-detail-year">{{ item.year }}</h2>
          <div class="archives-detail-item" *ngFor="let post of item.posts">
            <div class="archives-detail-item-title"><span>{{ post.created_at | date:'MMM d, yyyy' }}</span><a [routerLink]="['/home/post', post.id]">{{ post.title }}</a></div>
          </div>
        </div>
      </div>

    </div>
    <app-page [pageConfig]="pageConfig" (changePage)="getPageData($event)"></app-page>
  </div>

</div>
